/*公共样式表*/

.public-container {
    position: relative;
    margin: 0 auto;
    width: 1206px;
}

.public-top-notice {
    height: 36px;
    background-color: #f3f3f3;
    font: 12px/3 "Microsoft YaHei";
}

.public-top-notice .top-notice-url {
    display: inline-block;
    margin-left: 10px;
    color: #21a557;
}

.public-top-notice .top-notice-url:hover {
    text-decoration: underline;
}

.public-top-notice .top-notice-cancel {
    position: relative;
    float: right;
    padding-left: 15px;
    background: url("../img/icon-cancel-x.png") no-repeat left center;
}

.public-top-notice .top-notice-cancel:hover {
    cursor: pointer;
}