/*index页面样式表*/


/** banner模块 **/

.index-banner {
    position: relative;
    width: 100%;
    height: 460px;
}

.index-banner .banner-slide {
    position: absolute;
    width: 100%;
}

.index-banner .banner-slide img {
    width: 100%;
    height: 460px;
}

.index-banner .slider-panel {
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
}

.index-banner .slider-panel .slider {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.index-banner .slider-panel .slider-selected {
    background-color: #333333;
}


/** 产品模块 **/

.index-product .public-container .product-panel-parent {
    width: 2000px;
    margin: 60px 0 0 -80px;
}

.index-product .product-panel {
    float: left;
    margin-left: 80px;
}

.index-product .product-panel .product-logo {
    float: left;
    margin-top: 70px;
}

.index-product .product-panel .product-logo img {
    width: 80px;
    height: 80px;
}

.index-product .product-panel .product-desc {
    margin-left: 100px;
    margin-top: 60px;
    width: 243px;
    font: 22px "Microsoft YaHei";
}

.index-product .product-panel .product-desc .product-content {
    margin-top: 20px;
    font: 14px "Microsoft YaHei";
}

.index-product .product-panel .product-desc a {
    font: 14px "Microsoft YaHei";
    margin-top: 34px;
    color: #39a030;
}


/** 工作环境模块**/

.index-workspace .workspace-panel-parent {
    width: 100%;
    margin-top: 60px;
}

.index-workspace ul,
.index-workspace .workspace-panel-parent li {
    font-size: 0;
}

.index-workspace .workspace-panel-parent ul {
    width: 100%;
    margin-top: 60px;
}

.index-workspace .workspace-panel-parent .workspace-panel-item {
    display: inline-block;
    box-sizing: border-box;
    padding-left: 5px;
    width: 20%;
}

.index-workspace .workspace-panel-parent .workspace-panel-item:first-child {
    padding-left: 0px;
}

.index-workspace .workspace-panel-parent .workspace-panel-item img {
    width: 100%;
    height: 220px;
}


/**课程内容模块**/
.index-content {
    overflow: hidden;
}
.index-content .index-content-left{
    float:left;
    width:982px;
}

.index-content .content-tab .tab-item {
    display: inline-block;
    width: 200px;
    height: 52px;
    margin: 80px 0 30px 0;
    padding: 0;
    font: 20px/52px "Microsoft YaHei";
    text-align: center;
    color: #666;
    background-color:#fff;
    box-shadow: 1px 2px 1px #ecebeb;
    cursor: pointer;
}

.index-content .content-tab .selected {
    background-color: #39a030;
    color: #fff;
}


.index-content .content-container .content-course-panel {
    position: relative;
    display: inline-block;
    width: 224px;
    margin: 0px 20px 20px 0;
    background-color:#fff;
    box-shadow: 1px 2px 1px #efefef;
}

.index-content .content-container .content-course-panel:hover {
    box-shadow: 1px 2px 1px #cccccc;
}

.index-content .content-container .content-course-panel .course-panel-normal:hover .course-name{
    color:#39a030;
}

.index-content .content-container .course-name{
    font-weight: bolder;
}

.index-content .content-course-panel .course-panel-normal img {
    width: 222px;
    height: 109px;
}


.index-content .content-course-panel .course-panel-normal p {
    margin: 10px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font: 12px "Microsoft YaHei";
}

.index-content .content-course-panel .course-panel-normal .course-author{
    color:#999;
}

.index-content .content-course-panel .course-panel-normal .course-price{
    color:#ff3f00;
    font-weight: bolder;
}

.index-content .content-course-panel .course-panel-normal .course-hot{
    margin: 10px 5px;
    padding: 0 3px 0 18px;
    background: url("../img/icon-course-hot.png") no-repeat 3px 2px;
    color:#999;
    font:12px /16px "Microsoft YaHei";
    border: 1px solid #999;
    border-radius: 2px;
}

/**课程内容鼠标悬停效果**/
.index-content .content-course-panel .course-panel-big{
    position: absolute;
    width: 480px;
    top: 0;
    left: 0;
    color: #666;
    background-color:#fff;
    box-shadow: 1px 2px 1px #cccccc;
    border: 1px solid #cccccc;
    z-index: 99;
}

.index-content .content-course-panel .big-panel-top{
    margin: 10px 0 20px 10px;
    font: 12px "Microsoft YaHei";
}

.index-content .content-course-panel .big-panel-top img{
    margin-right: 20px;
    float: left;
    width: 222px;
    height: 124px;
}

.index-content .content-course-panel .big-panel-top .big-course-name{
    margin-top:20px;
    color:#333;
    font-weight: bolder;
    font-size: 18px ;
}

.index-content .content-course-panel .big-panel-top .big-course-hot{
    margin:16px 0 14px 242px;
    padding-left: 13px;
    color:#999;
    background: url("../img/icon-course-hot.png") no-repeat 0 center;
}

.index-content .content-course-panel .big-panel-top .big-course-type{
    margin-top: 10px;
}

.index-content .content-course-panel .course-panel-big .big-panel-bottom{
    padding: 20px;
    background-color:#f8f8f8;
    font-size: 14px;
    line-height: 24px;
    word-wrap: break-word;
    
}



/** 分页器模块 **/
.index-content .content-pagination-container{
    float: right;
    margin-right: 40px;
}

.index-content .content-pagination-container span{
    height: 20px;
    padding: 0 7px;
    font: 14px/20px "Microsoft YaHei";
    text-align: center;
    cursor: pointer;
}

.index-content .content-pagination-container .pageination-tab-item:hover{
    background-color:#9dd8b1;
    color:#fff;
}


.index-content .content-pagination-container .tab-item-select{
    color:#39a030;
}

.index-content .content-pagination-container .tab-arrow{
    padding: 0 10px;
    color:#fff;
    background-color:#9dd8b1;
    font-weight: bolder;
}

.index-content .content-pagination-container .disabled{
    background-color:#ccc;
}

/** 视频模块 **/
.index-content .index-content-right{
    float:right;
    width: 224px;
}

.index-content .institution-introduce{
    margin: 84px 0 20px;
    background-color:#fff;
    box-shadow: 1px 2px 1px #efefef;
}

.index-content .index-content-right .right-title{
    font: 16px/55px "Microsoft YaHei";
    padding-left:20px;
    border-bottom: 1px solid #ddd;
    font-weight: bolder;
}

.index-content .index-content-right .right-content{
    width: 180px;
    padding: 20px 22px;
    font:14px "Microsoft YaHei";
}


.index-content .index-content-right .introduce-video-play{
    margin-top: 10px;
    cursor: pointer;
}

/** 热门排行 **/
.index-content .hot-rank{
    background-color:#fff;
    box-shadow: 1px 2px 1px #efefef;
}

.index-content .hot-rank .right-title{
    border-bottom: 1px solid #eee;
}

.index-content .hot-rank .right-content{
    padding: 0;
    margin-top: 20px;
}

.index-content .index-content-right .hot-rank .hot-course{
    width: 186px;
    height: 50px;
    padding: 0 20px 20px;
}

.index-content .index-content-right .hot-rank .hot-course:hover{
    border-right: 1px solid #ccc;
}

.index-content .hot-course img{
    float: left; 
    width: 50px;
    height: 50px;
   
}

.index-content .hot-course .hot-course-desc{
    float:right;
    width: 136px;
    font-weight: bolder;
}

.index-content .hot-course p{
    padding-left: 12px;
    margin-bottom: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font: 14px/14px "Microsoft YaHei";
}

.index-content .hot-course .course-hot{
    color:#999;
    font-size: 12px;
    background: url("../img/icon-course-hot.png") no-repeat 13px;
    padding-left:30px;
}

/** 视频播放弹层模块 **/
.public-dialog .video-container{
    width: 950px;
    height: 676px;
}

.public-dialog .video-container .video-title{
    margin: 30px 0 20px 30px;
    font:18px "Microsoft YaHei";
    font-weight: bolder;
}

.public-dialog .video-container .video-panel{
    width: 890px;
    height: 538px;
    margin: 0 0 40px 30px;
}

.public-dialog .video-container .btn-video-play{
    position: absolute;
    bottom: 120px;
    left: 50px;
    cursor: pointer;
}



/**页面布局动态自适应**/
@media screen and (max-width:1204){
    /**产品介绍模块**/
    .index-product .product-panel .product-desc {
        margin-left: 100px;
        margin-top: 60px;
        width: 170px;
        font: 22px "Microsoft YaHei";
    }
    /**课程详情模块**/
    .index-content .index-content-left{
        float:left;
        width:736px;
    }
}  
